.featured-carousel h2 {
  margin: 0 10px;
  font-size: 1.5rem;
  color: var(--text-color);
  text-align: center;
}

.carousel-scroll-container::-webkit-scrollbar {
  display: none;
}

.featured-carousel {
  margin: 20px 0;
  padding: 0 20px;
}

.carousel-scroll-container {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 10px 0;
  scroll-snap-type: x mandatory;
}