.about-pet-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #1A1A2E;
  color: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.page-logo {
  width: 80px;
  margin-bottom: 10px;
}

.about-pet-container h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  margin-top: auto;
}

.about-pet-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.about-pet-container form input,
.about-pet-container form textarea,
.about-pet-container form select {
  width: 100%;
  max-width: 400px;
  padding: 12px;
  margin: 6px 0;
  border: none;
  border-radius: 5px;
  background: #232946;
  color: white;
  font-size: 16px;
  text-align: left;
}

.name-species-container {
  display: flex;
  width: 100%;
  max-width: 400px;
  gap: 10px;
}

.save-btn {
  background: #00C6CF;
  color: white;
  padding: 10px;
  margin-top: 10px;
  width: 70%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.continue-btn:hover {
  background: #A379FF;
}

.form-step {
  width: 100%;
  max-width: 500px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1A1A2E;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
  padding: 10px;
}

.back-btn,
.next-btn {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.back-btn {
  background-color: #A379FF;
  color: white;
}

.next-btn {
  background-color: #00C6CF;
  color: white;
}

.back-btn:hover {
  background-color: #8F60FF;
}

.next-btn:hover {
  background-color: #00A4B2;
}

.preview-image {
  max-width: 100px;
  max-height: 100px;
  margin-top: 10px;
  border-radius: 5px;
}

.file-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.file-upload-container input {
  width: 100%;
  max-width: 400px;
  background: none;
  color: white;
  border: 2px dashed #00C6CF;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.file-upload-container input:hover {
  border-color: #A379FF;
}