
.menu {
  position: fixed;
  top: 22rem;
  left: 1.1rem;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
  border: none !important;
  box-shadow: none !important;
  transition: color 0.3s ease;
}

.menu.hidden {
  opacity: 0;
  pointer-events: none;
}

.menu-navLink {
  color: white;
  text-decoration: none;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
  background: linear-gradient(#1A1A2E, #1A1A2E);
  background-color: rgba(0, 0, 0, 0.8);
}

.menu-navLink:hover {
  transform: scale(1.15);
}