.instruction-modal {
  background-color: var(--panel-bg);
  padding: 0px 20px 20px;
  border-radius: 8px;
  max-width: 800px;
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

.instruction-modal h2 {
  color: var(--primary-accent);
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.instruction-modal-input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--input-bg);
  color: var(--text-color);
}

.add-step-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: var(--secondary-accent);
  color: var(--text-color);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.add-step-btn:hover {
  background-color: var(--primary-accent);
}

.instruction-modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.save-btn,
.instruction-cancel-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.save-btn {
  background-color: var(--primary-accent);
  color: var(--text-color);
}

.save-btn:hover {
  background-color: var(--secondary-accent);
}

.instruction-cancel-btn {
  background-color: var(--error-color);
  color: var(--text-color);
}

.instruction-cancel-btn:hover {
  background-color: #b71c1c;
}