
.instruction-modal {
  /* background-color: var(--panel-bg); */
  padding: 0px 20px 20px;
  border-radius: 12px;
  /* box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4); */
  max-width: 500px;
  width: 90%;
  text-align: center;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  justify-content: space-evenly;
  min-width: 400px;
}


.instruction-modal h2 {
  color: var(--primary-accent);
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 15px;
}


.instruction-list {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 5px;
}


.instruction-step {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}


.step-number {
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--primary-accent);
}


.instruction-modal-input {
  flex: 1;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: var(--input-bg);
  color: var(--text-color);
  font-size: 1rem;
  box-sizing: border-box;
}


.add-step-btn {
  width: 97%;
  padding: 12px;
  background-color: var(--secondary-accent);
  color: var(--text-color);
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  margin-top: 10px;
}

.add-step-btn:hover {
  background-color: var(--primary-accent);
}


.instruction-modal-actions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 15px;
}


.instruction-modal .save-btn {
  background-color: var(--primary-accent);
  color: var(--text-color);
  font-size: 1rem;
  font-weight: bold;
  padding: 12px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background 0.2s ease-in-out;
  width: 55%;
}

.instruction-modal .save-btn:hover {
  background-color: var(--secondary-accent);
}


.instruction-cancel-btn {
  background-color: transparent;
  color: var(--text-color);
  font-size: 1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  width: 40%;
}

.instruction-cancel-btn:hover {
  opacity: 0.7;
}

.delete-step-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #d32f2f;
  font-size: 14px;
  padding: 4px;
  margin-left: 10px;
  transition: color 0.2s ease-in-out;
}

.delete-step-btn:hover {
  color: #b71c1c;
}