.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
  font-family: "Baloo 2", sans-serif;
}

.cooking-animation img {
  width: 120px;
  animation: bounce 1.5s infinite;
}

.loading-text {
  font-size: 1.2rem;
  margin-top: 12px;
  text-shadow: 0 0 5px var(--highlight-color);
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}