.embark-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(-45deg, #1a1a2e, #232946, #00c6cf, #a379ff);
  background-size: 400% 400%;
  animation: backgroundMove 10s ease infinite;
  color: white;
  overflow: auto;
  position: relative;
}

.embark-container h2 {
  margin-top: 0;
  font-size: 1.7rem;
  margin-bottom: 15px;
  font-weight: bold;
  background: linear-gradient(90deg, #00C6CF, #A379FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.form-step {
  width: auto;
  max-width: 500px;
  text-align: center;
  background: #232946;
  padding: 1rem;
  border-radius: 25px;
  box-shadow: 0px 4px 15px rgba(0, 198, 207, 0.4);
  height: max-content;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 97%;
  min-width: fit-content;
}

.step-0 {
  transform: translateX(0);
  opacity: 1;
}

.step-1 {
  transform: translateX(-100%);
  opacity: 1;
}

.step-2 {
  transform: translateX(-200%);
  opacity: 1;
}

.embark-container .nav-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  margin-top: 20px;
}

.embark-container .back-btn,
.embark-next-btn {
  background: rgba(163, 121, 255, 0.9);;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
  box-shadow: 0 0 10px rgba(0, 198, 207, 0.5);
}

.embark-container .back-btn {
  background: #a379ff;
}

.embark-container .back-btn:hover,
.embark-next-btn:hover {
  background: #ffb84c;
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(255, 184, 76, 0.6);
}

.exit-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s, transform 0.2s;
}

.exit-btn:hover {
  transform: rotate(10deg) scale(1.1);
  background: none !important;
    border: none !important;
    cursor: pointer;
    box-shadow: none !important;
    color: #ffb84c;
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

.embark-next-btn.continue {
  background-color: #ffb84c;
  color: white;
  animation: bounce 0.5s ease-in-out infinite alternate;
}

.embark-next-btn {
  position: relative;
  overflow: hidden;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.embark-next-btn.skip {
  background-color: #aaa;
  color: black;
}

.embark-button-text {
  display: inline-block;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.embark-next-btn .button-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  white-space: nowrap;
}

.embark-next-btn .button-text-enter {
  opacity: 0;
  transform: translateY(10px);
}

.embark-next-btn .button-text-exit {
  opacity: 0;
  transform: translateY(-10px);
}

@keyframes backgroundMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}